[Desktop Entry]
Version=1.0
Name=Maximus Core
Comment=Maximus P2P Cryptocurrency
Comment[de]=Verbinde mit dem Maximus peer-to-peer Netzwerk
Comment[fr]=Maximus, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Maximus, eşten eşe kriptografik sanal para birimi
Exec=maximus-qt %u
Terminal=false
Type=Application
Icon=maximus128
MimeType=x-scheme-handler/maximus;
Categories=Office;Finance;P2P;Network;Qt;
StartupWMClass=Maximus-qt
